*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;  
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
}

:is(h1, h2, h3, h4){
    color: white;
    font-family: 'Josefin Sans';
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    display: inline-block;
    border: 2px solid white;
    padding: 40px;
    margin-left:  11.19vw;
    margin-top: 5%;
    font-size: clamp(40px, 10vh, 72px);
    line-height: 70px;
}

h2{
    font-size: 48px;
    line-height: 48px;
    color: black;
}

h3{
    border: 1px solid black;
    padding: 13px 38px;
    font-family: 'Alata';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
}

h4{
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
}

p, a{
    font-family: 'Alata';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
}

p{
    color: black;
    opacity: 0.5;
    margin-top: 25px;
}

a{
    color: white;
    text-decoration: none;
}

:is(.section2, .section3, .section4){
    margin-top: 160px;
}

:is(.section2, .section3){
    padding-right: 11.19vw;
    padding-left:  11.9vw;
}

/**************************************************************************************/
/************************************ ACCUEIL ************************************/
.burger{
    display: none;
}

.section1{
    background: url('images/acceuil.png') no-repeat center/cover;
    height: 650px;
}

header{
    padding: 4.20vw 11.19vw;
}

a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-right: 32px;
    position: relative;
}

a:hover::after{
    content: '';
    height: 2px;
    width: 24px;
    position: absolute;
    left:  25%;
    bottom: -8px;
    border: 0px;
    border-bottom: 2px solid white;
}

.imgReseaux{
    cursor: pointer;
}

.reseauxSociaux a:hover::after{
    left:  0%;
    bottom: -10px;
    border-bottom: 2px solid white;
}

/*****************************************************************************************/
/************************************ SECTION 2 ************************************/
.imgResponsiveVR{
    display: none;
}

.containerVR {
    position: relative;
}

article{
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    width: 541px;
    padding-top: 96px;
    padding-left: 96px;
}

/*****************************************************************************************/
/************************************ SECTION 3 ************************************/
.seeAllResponsive{
    display: none
}

.ourCreation{
    margin-bottom: 80px;
}

.containerCreations{
    border: 4px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px; 
    margin: auto;
}


.case{
    position: relative;
    display: flex;
    margin: auto;
}


.case .content-overlay {
    background: rgba(255, 255, 255, 0.75071);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .case:hover .content-overlay{
    opacity: 1;
  }

h4{
    z-index: 2;
}

.case:hover{
cursor: pointer;
display: block;
background: white;
}

.imgResponsive{
    display: none;
}

h4{
    position: absolute;
    left: 2.38vw;
    bottom: 1.90vw;
    color:white;
}

h3:hover{
    color: white;
    background: black;
    cursor: pointer;
}


/*****************************************************************************************/
/************************************ SECTION 4 ************************************/
footer{
    background: #000000;
}

.section4{
    padding: 44px 11.9vw;
    flex-wrap: wrap;
}

.footerNav{
    gap: 16px;
}

.paraFooter{
    margin-top: 0px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.reseauxSociaux{
    margin-right: 0;
    justify-content: space-between;
    margin-bottom: 24px;
}

.reseauxSociaux a{
    margin-right: 0 !important;
}

.logoFooter{
    margin-bottom: 24px;
}


/***********************************************************************************************/
/************************************ MEDIA QUERIES************************************/

@media (max-width: 1190px){
    /************************************ SECTION 2 ************************************/
    .section2{
        padding-right: auto;
        padding-left: auto;
    }  

    .containerVR {
        position: static;
        flex-direction: column;
        justify-content: center;
    }

    article{
        position: static;
        right: none;
        bottom: none;
        width: 75%;
        padding-top: 50px;
        padding-left: 0px;
    }

    /************************************ SECTION 3 ************************************/
    .containerCreations{
    grid-template-columns: 1fr 1fr ;
    }   
}


/************************************950PX***********************************/
@media (max-width: 950px){
    /************************************ SECTION 4 ************************************/

    .section4{
        padding: 44px 11.9vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerGauche{
        display: column;
        justify-content: center;
        align-items: center;
    }   

    .imagesLogo{
        margin-bottom: 32px;
    }

    .footerNav{
        align-self: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;
    }

    .footerNav a{
        text-align: center;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-right: 0;
    }

    a{
        margin-right: none;
    }
}


/************************************808PX***********************************/
@media (max-width: 808px){
    /************************************ ACCUEIL ************************************/

    h1{
        display: inline-block;
        border: 2px solid white;
        padding: 40px;
        margin-left: 12%;
        margin-right: auto;
        margin-top: 10%;
        /* margin:  auto; */
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    .burger span{
        width: 24px;
        height: 2px;
        background: white;
        margin: 6px 0;
        display: block;  /* span sont des elements de types inline, display block permet de les faire prendre toutes la largeur et de commencer a la ligne */
    }

    .burger, .logo {
        padding: 10px;
        z-index: 20;  /* pour que le logo et le burger passe devant */
    }

    nav{
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: black;
        flex-direction: column;
        justify-content: center !important;
        transform: translateX(100%);  /* translateX je deplace de 100% de sa taille vers la droite  -- -100% ca irait vers la gauche  - si on met Y ca change l'axe vers le haut ou le bas*/
        transition: .5s;
    }

    .menu-open{
        transform: translateX(0); /* quand je clique mon menu revient en position normal */
    }

    nav a{
        text-align: left;
        font-size: 24px;
        line-height: 25px;
        margin-top: 24px;
        font-family: 'Josefin Sans';
        font-weight: 300;
        text-transform: uppercase;
    }

    .navResponsive{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
       padding-left: 11.9vw;
    }

    .section1{
        background: url('images/accueil_mobile.jpg') no-repeat center/cover;
        height: 650px;
    }

}



/************************************700PX***********************************/
@media (max-width: 700px){
    :is(.section2, .section3, .section4){
        margin-top: 96px;
    }

    h1{
        padding: 24px;
        font-size: 40px;
        line-height: 38px;
        margin-left: 12%;
        margin-right: auto;
        margin-top: 20%;
    }

    h2{
        font-size: 32px;
        line-height: 32px;
        text-align: center;
    }

    p{
        text-align: center;
    }

    /************************************ SECTION 2 ************************************/

    .section2, .section3{
        padding-right: 24px;
        padding-left: 24px;
    }

    .containerVR {
        width: 100%;
        position: static;
        flex-direction: column;
        justify-content: center;
    }

    article{
        position: static;
        right: none;
        bottom: none;
        background: white;
        width: 75%;
        padding-top: 50px;
        padding-left: 0px;
    }

}

/************************************500PX***********************************/
@media (max-width: 500px){

    h1{
        font-size: 40px;
        line-height: 38px;
        margin-left: 12%;
        margin-right: auto;
        margin-top: 30%;
    }


   :is(header, .section3){
        padding-right: 24px;
        padding-left: 24px;
    }

     /************************************ SECTION 3 ************************************/
    .ourCreation h2{
        text-align: center;
        margin-right: 0px;
    }

    .seeAllResponsive{
        align-self: center;
        text-align: center;
        display: inline-block;
        padding: 13px 10px;

    }

    .seeAllDeskstop{
        display: none;
        visibility: hidden;
    }

    .ourCreation{
        justify-content: center;
        text-align: center;
    }

    .containerCreations{
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        grid-template-rows: none;
        gap: 24px; 
    }

    .imgDeskstop{
        display: none;
    }

    .case{
    width: 100%;
    cursor: pointer;
    }

    .imgResponsive{
    display: block;
    width: 100%;
    }   

}

/************************************400PX***********************************/

@media (max-width: 400px){
    h1{
        align-self: center;
        font-size: 40px;
        line-height: 38px;
        margin:  auto;
        margin-top: 35%;
    }

    .titre{
        display: flex;
        align-self: center;
        width: 100%;
    }

}
